.main-expend-more {
  -webkit-animation: arrowbounce 1.5s ease-out infinite;
  animation: arrowbounce 1.5s ease-out infinite;
}

@keyframes arrowbounce{
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0,30%);
  }
}

@-webkit-keyframes arrowbounce{
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0,30%);
  }
}