@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.title-container {
  width: 100%;
}

.title {
  text-align: center;
  color: white;
}

.title > h1 {
  font-size: 10rem;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200
}

.title > p {
  font-size: 1.2rem;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200
}

.main_filter {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%
}

.main-expend-more {
  width: 5rem;
  margin: 0;
  padding: 0
}

.bottom-arrow-container {
  text-align: center;
  width: 100%;
}

.bottom-arrow-container > p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.8rem;
}