h1, h2, img {margin-bottom:15px;}
.accent {margin-bottom:30px;}

p{
    font-family: 'Noto Sans KR', sans-serif;
}
h1, h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : 900;
}